* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', serif;
}

a {
    margin-bottom: 20px;
    width: auto; /* Allow the width to adjust based on content */
    text-align: center; 
    position: relative;
    color: rgb(225, 225, 231);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 20%;
    letter-spacing: 0.1em;
    font-weight: 300;
    transition: 1s;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    padding: 10px 30px;
    flex-direction: column; /* Change to column to make it vertical */
    justify-content: flex-start; /* Align items to the top */
    align-items: center; /* Align items to the left */
    padding-left: 30px;
    gap: 50px;
}

a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

a:before {
    content: ' ';
    position: absolute;
    inset: 2px;
    background: #03040a;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    inset: 2px;
    top: 0;
    left: 80%;
    width: 80px;
    /* background: rgb(106, 115, 116); */
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

a:hover i::before {
    width: 20px;
    left: 20%;
}

a i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    height: 4px;
    width: 10px;
    background: rgb(6, 206, 241);
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    color: rgb(235, 229, 229);
    height: 100vh;
    flex-wrap: wrap;
}


.container h2 {
    font-size: 44px; /* Adjust font size */
    background: rgba(0, 0, 0, 0.7); 
    align-items: top;

    margin: 0; /* Remove default margin */
    width: 50%;
    font-family: 'Inknut Antiqua', serif;

        margin-bottom: 8px;
    
}
.container p {
    font-size: 24px; /* Adjust font size */
    background: rgba(0, 0, 0, 0.7); 
    align-items: center;
    margin: 0; /* Remove default margin */
    width: 50%;
    font-family: 'Inknut Antiqua', serif;
}
   

    

    
   .aosclass{
    
    background-image:
     url('/images/0001\ \(1\).png');

     /* background-repeat: no-repeat; */
      background-position: center; 
     /* background-attachment: fixed; */
     background-size: cover;
     height: 100vh;
     background-position: top center;
    
     /* image-resolution: 300dpi; */


}

.aosclass .profile {
    
    /* background-size: cover; */
     background-position: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: 'Jim Nightshade';font-size: 22px;
}

.aosclass .footer {
    padding: 0px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    font-family:'jim nightshade';
    font-size: 1.2rem;
    margin-bottom: 10px;


}
